html,
body {
  height: 100%;
  color: #333;
  background: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

* {
  /* touch-action: pan-y; */
  box-sizing: border-box;
}
.barBox {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.barBox .iconfont {
  font-size: 24px;
}
.tabBox {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}
